/* styles.css */

/* General layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #f2f2f2 0%, #1adff5 100%);
       
}

/* Chat container */
.chat-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

/* Chat header */
.chat-container h1 {
    margin: 0;
    padding: 15px;
    background-color: #128C7E;
    color: #fff;
    border-radius: 8px 8px 0 0;
    font-size: 18px;
   text-align: center;
}

/* Status section */
.chat-container p {
    padding: 10px;
    background-color: #f0f0f0;
    font-size: 14px;
}

/* Message history */
.message-history {
    padding: 20px;
    height: 300px;
    overflow-y: auto;
    background-color: #f8f8f8;
    margin-left: 20%;
    scrollbar-width: none;
    
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 5px;
    max-width: 70%;
}

.message strong {
    font-weight: bold;
}

.timestamp {
    font-size: 12px;
    color: #999;
}

/* Message input */
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 3px solid #63f8df;
    border-radius: 5px;
    resize: none;
   
    margin-left: 30%;
}

button {
    background-color: #128C7E;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #075E54;
}

/* Accept request button */
form button {
    width: 80%;
    margin-top: 10px;
}

button:disabled {
    background-color: #ccc;
}
form{
    align-items: center;
    display: flex;
    justify-content: center;
}

#ide1{
    margin-left: 5%;
    margin-right: 20%;
    margin-bottom: 2%;
    border-radius: 50%;
    max-width: 70px;
    background-color: #44e1f9;
}
img{
    width: 70%;
    height: 70%;
    
}
.chat{
    font-size: 30px;
}
header {
    background: linear-gradient(180deg, #f2f2f2 0%, #1adff5 100%);
    color: white;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(-90deg, #f2f2f2 40%, #1adff5 100%);
    border-radius: 20px;
    margin-bottom: 20px;
    border: 5px solid rgb(253, 255, 255); 
  }
  
  nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 7px;
    background-color: #4ee3ea;
    animation-delay: 1s;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-block;
  }
  nav a:hover{
    background-color: #f8f8f8;
    transform: scale(1.1);
   
  }
  .link-header{
    padding-left: 10%;
    padding-top: 3vh;
  }
  a{
    color: #ffffff;
    text-decoration: none;
    font-size: 3vh;
  }


